[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
        branch = v1.x
[submodule "3rdparty/ImGuizmo"]
	path = 3rdparty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/libkc"]
	path = 3rdparty/libkc
	url = https://github.com/nekoffski/libkc.git
	branch = dev
