[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
    url = https://github.com/gabime/spdlog.git
    branch = v1.x
[submodule "3rdparty/crossguid"]
	path = 3rdparty/crossguid
	url = https://github.com/graeme-hill/crossguid.git
[submodule "3rdparty/fuzzylite"]
	path = 3rdparty/fuzzylite
	url = https://github.com/fuzzylite/fuzzylite.git
[submodule "3rdparty/xvent"]
	path = 3rdparty/xvent
	url = https://github.com/nekoffski/xvent.git
	branch = mt
